
<div
  class="hero min-h-screen"
  style="background-image: url({{ site.settings.hero_image_url }});"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">B2B 软件库</h1>
      <p class="mb-5">
        本平台用于收录和分享 B2B 软件的使用经验和技巧，帮助用户更好地了解和使用这些软件。
      </p>
      <div class="flex flex-wrap justify-center gap-6">
        {% form_tag 'search', class: 'w-full max-w-2xl' %}
          <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
          <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-6 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
              </div>
              <input type="search" name="{{form.keywords_field_name}}" value="{{ search.keywords | escape_once }}" id="default-search" class="block w-full text-lg p-4 ps-12  text-gray-900 border border-gray-300 rounded-full bg-gray-50" placeholder="全站搜索..." required />
              <button type="submit" class="text-white absolute end-[0.425rem] bottom-[0.425rem] bg-teal-600 hover:bg-teal-800 focus:outline-none font-medium rounded-full px-6 py-3 dark:bg-slate-800 dark:hover:bg-teal-600">搜索</button>
          </div>
        {% endform_tag %}
      </div>
      <!-- 热门标签 -->
      <div class="flex flex-wrap justify-center gap-3">
        <p class="">热门标签：</p>
        {% for tag in page.settings.tags %}
          <a
            href="{{ tag.path }}"
            data-turbo-frame="_top"
            class="hover:text-primary focus:ring hover:-translate-y-[2px] min-w-12"
          >
            {{ tag.name }}
          </a>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

<div class="max-w-7xl mx-auto">

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 my-12">
    <article class="prose">
      <h1>什么是 Daisy UI?</h1>
      <p>
        For years parents have espoused the health benefits of eating garlic bread with cheese to their
        children, with the food earning such an iconic status in our culture that kids will often dress
        up as warm, cheesy loaf for Halloween.
      </p>

      <p>
        But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
        springing up around the country.
      </p>
      <!-- ... -->
    </article>
    <article class="prose">
      <h1>什么是 Baklib?</h1>
      <p>
        For years parents have espoused the health benefits of eating garlic bread with cheese to their
        children, with the food earning such an iconic status in our culture that kids will often dress
        up as warm, cheesy loaf for Halloween.
      </p>

      <p>
        But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
        springing up around the country.
      </p>
      <!-- ... -->
    </article>
  </div>

</div>
<!-- End Timeline -->
{% schema %}
  {
    "name": "首页",
    "thumb_url": "images/theme/index.png",
    "preview_image_urls": [
        "images/theme/index.png"
    ],
    "description": "Help Center, Customer Support",
    "sub_page_templates": [
        "channel"
    ]
  }
{% endschema %}
