<!-- copy from shared AI search -->
<main class="relative flex flex-col {% if search.keywords or search.tag %}flex-1{% endif %} w-full max-w-7xl px-2 mx-auto pt-12 md:pt-24">
  <div aria-hidden="true" class="absolute z-0 top-0 right-0 w-full h-full m-auto bg-transparent -space-x-52 opacity-20 dark:opacity-50">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-secondary dark:from-orange-500"></div>
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-secondary dark:from-orange-100"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-secondary to-primary via-teal-300 dark:to-teal-600"></div>
  </div>
  <section class="mx-auto w-full max-w-xl relative z-10">
    {% form_tag 'search', data-turbo-frame: 'frame--search-results', data-turbo-action: 'advance' %}
      <div class="relative rounded-md group focus:text-gray-900 hover:text-gray-500">
        <button type="submit" class="flex absolute inset-y-0 right-0 items-center pr-3 pl-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 group:text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </button>
        <input type="text" autofocus name="{{form.keywords_field_name}}" value="{{ search.keywords | truncate: 100 | escape }}" placeholder="{{ "search.placeholder" | t: "搜索内容" }}" class="block pr-10 pl-3 w-full h-12 bg-white rounded-md border-2 transition duration-300 ease-in-out outline outline-1 focus-visible:outline-primary hover:outline-2 hover:outline-primary-300 sm:text-md focus:bg-opacity-60">
      </div>
    {% endform_tag %}
  </section>

  {% if search.tag %}
    <section>
      <i class="px-2 py-1 rounded" style="background-color: {{ search.tag.color }}">{{ search.tag.name }}</i>
    </section>
  {% endif %}


  {% if search.keywords or search.tag %}
    {% paginate_tag search.pages, as: 'items', per: 20 %}
      {% assign extends_size = search.extends | size %}
      {% assign items_size = items | size %}
      {% assign total_size = extends_size | plus: items_size %}
      {% assign top_5_paths = items | map: 'path' | limit: 5 | join: ',' %}
      {% if total_size > 0 %}
        <section class="flex flex-col gap-6 items-start mx-auto mt-8 w-full max-w-7xl relative z-10">
          <div class="flex-grow-0" id="js--ai-search-completion-container">
            <div
              class="p-2 rounded bg-primary-50 border-2 border-primary chat-container"
              id="js--ai-search-completion"
              data-controller="ai-search-completion"
              data-ai-search-completion-hidden-class="hidden opacity-0"
              data-ai-search-completion-url-value="/-/ai-search-completion"
              data-ai-search-completion-auto-submit-value="true"
            >
              <div class="flex gap-1 items-center p-4 text-sm">
                <div class="overflow-hidden w-5 h-5 bg-gradient-to-r rounded-full from-secondary-500 to-primary-600">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                  </svg>
                </div>
                <span>AI 搜索</span>
              </div>
              <div data-ai-search-completion-target="response" class="ai-response prose !max-w-none max-h-[50vh] overflow-y-auto px-4 pb-4 -mx-2 scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100">
                <!-- 消息将在这里显示 -->
              </div>
              <div data-ai-search-completion-target="completed" class="hidden p-2 text-sm text-gray-400 opacity-100 transition-opacity duration-300">
                AI 回答完毕.
              </div>
              <div data-ai-search-completion-target="error" class="hidden text-red-500 opacity-100 transition-opacity duration-300"></div>
            </div>
          </div>
          <div class="flex-1">
            <turbo-frame id="frame--search-results">
              <ul class="space-y-3">
                {% if search.page_number == 1 and extends_size > 0 %}
                  {% for link in search.extends %}
                    <li class="p-3 rounded-lg bg-primary-50 hover:bg-primary-100">
                      <div>
                        <a class="text-lg text-slate-800 search-highlight-block" href="{{ link.url }}" data-turbo-frame="_top">{{ link.link_text }}</a>
                      </div>
                      <div class="-mt-2">
                        <a href="{{ link.url }}" data-turbo-frame="_top" class="text-xs text-gray-500 font-inter">{{ link.url }}</a>
                      </div>
                    </li>
                  {% endfor %}
                {% endif %}
                {% for page in items %}
                  <li class="p-3 bg-gray-50 rounded-lg hover:bg-gray-100">
                    <div class="flex gap-1">
                      <div class="shrink-0 pt-[1px]">
                        <span class="inline-flex justify-center items-center -ml-1 w-5 h-5 text-xs rounded-full bg-primary-100">{{ forloop.index }}</span>
                      </div>
                      <div>
                        <div class="flex-1">
                          <a class="text-lg text-slate-800 search-highlight-block" href="{{ page.url }}" data-turbo-frame="_top">
                            {{ page.highlighted_search_title }}
                          </a>
                        </div>
                        <div class="-mt-2">
                          <a href="{{ page.url }}" data-turbo-frame="_top" class="text-xs text-gray-500 font-inter">{{ page.url }}</a>
                        </div>
                        {% unless page.highlighted_search_content == empty %}
                          <p class="my-3 text-sm line-clamp-3 text-slate-400 search-highlight-block">{{ page.highlighted_search_content }}</p>
                        {% endunless %}
                        <div class="flex justify-between items-center mt-2">
                          <div class="hidden overflow-x-auto text-sm breadcrumbs md:block">
                            {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
              <div class="flex justify-center px-3 my-8">
                {% render 'paginate', paginate: paginate %}
              </div>
              <script>
                (function(){
                  const firstPage = {{ search.page_number }} === 1;
                  setTimeout(function(){
                    const aiSearchCompletionContainer = document.getElementById('js--ai-search-completion-container');
                    const aiSearchCompletion = document.getElementById('js--ai-search-completion');
                    if(firstPage){
                      aiSearchCompletionContainer.classList.remove('hidden');
                      aiSearchCompletion.dataset.aiSearchCompletionMessageValue = "{{ search.keywords | escape_once }}";
                      aiSearchCompletion.dataset.aiSearchCompletionPathsValue = "{{ top_5_paths }}";
                    }else{
                      aiSearchCompletionContainer.classList.add('hidden');
                    }
                  }, 10);
                })()
              </script>
            </turbo-frame>
          </div>
        </section>
      {% else %}
        <section class="flex flex-col flex-1 mx-auto mt-24 w-full max-w-7xl">
          {% assign message = "empty.name" | t: '没有搜索到内容' %}
          {% render 'empty', message: message %}
        </section>
      {% endif %}
    {% endpaginate_tag %}
  {% endif %}
</main>


<!-- Page wrapper -->

<div class="py-12 xl:px-0 mx-auto max-w-7xl">
  <div class="text-center relative mb-[70px] md:mb-[90px]">
    <h2 class="h2 mb-2">
      操作指引</h2>
    <p class="text-quote md:text-lead-lg  text-gray-500 mx-auto md:w-[51ch]">
      您可以尝试以下更多的知识库入口，寻找到您需要的答案。
    </p>

  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-[30px]">
    <div class="rounded-2xl py-[20px] px-[24px] md:py-[43px] md:px-[63px] md:mx-5 transition-all duration-300 space-y-6 hover:translate-y-[-3px] bg-orange-100">
      <img class="h-full w-full object-cover mb-[30px] max-w-[50px] max-h-[50px]" src="{{ 'images/icons/icon-map.svg' | asset_url }}" alt="icon">
      <h3 class="font-bold text-[18px] md:text-heading-5">
        帮助中心</h3>
      <p class="text-gray-500 text-text">
        关于Baklib SaaS平台操作手册，使用指南。
      </p>
      <button type="button">
        <a href="https://help.baklib.cn" target="_blank" class="flex items-center z-10 relative transition-all duration-200 group px-[22px] py-[15px] lg:px-[32px] lg:py-[22px] rounded-[50px] bg-white  dark:bg-slate-900 text-slate-800 dark:text-white hover:bg-gray-900 hover:text-white hover:-translate-y-[2px] w-fit hover:translate-y-[-3px]">
          <span class="block text-inherit w-full h-full rounded-[50px] text-lg font-semibold">了解更多</span>
          <img
            class="ml-2 w-3 filter-black group-hover:filter-white"
            src="{{ 'images/icons/icon-right.svg' | asset_url }}"
            alt="icon">
        </a>
      </button>
    </div>
    <div class="rounded-2xl py-[20px] px-[24px] md:py-[43px] md:px-[63px] md:mx-5 transition-all duration-300 space-y-6 hover:translate-y-[-3px] bg-orange-100">
      <img class="h-full w-full object-cover mb-[30px] max-w-[50px] max-h-[50px]" src="{{ 'images/icons/icon-sun.svg' | asset_url }}" alt="icon">
      <h3 class="font-bold text-[18px] md:text-heading-5">
        模板中心</h3>
      <p class="text-gray-500 text-text">
        站点主题模板使用和安装教程说明。
      </p>
      <button type="button">
        <a href="https://www.uibak.com" target="_blank" class="flex items-center z-10 relative transition-all duration-200 group px-[22px] py-[15px] lg:px-[32px] lg:py-[22px] rounded-[50px] bg-white  dark:bg-slate-900 text-slate-800 dark:text-white hover:bg-gray-900 hover:text-white hover:-translate-y-[2px] w-fit hover:translate-y-[-3px]">
          <span class="block text-inherit w-full h-full rounded-[50px] text-lg font-semibold">了解更多</span>
          <img
            class="ml-2 w-3 filter-black group-hover:filter-white"
            src="{{ 'images/icons/icon-right.svg' | asset_url }}"
            alt="icon">
        </a>
      </button>
    </div>
    <div class="rounded-2xl py-[20px] px-[24px] md:py-[43px] md:px-[63px] md:mx-5 transition-all duration-300 space-y-6 hover:translate-y-[-3px] bg-orange-100">
      <img class="h-full w-full object-cover mb-[30px] max-w-[50px] max-h-[50px]" src="{{ 'images/icons/icon-hat.svg' | asset_url }}" alt="icon">
      <h3 class="font-bold text-[18px] md:text-heading-5">
        开发手册</h3>
      <p class="text-gray-500 text-text">
        关于Baklib的私有化部署、接口对接、API文档教程。
      </p>
      <button type="button">
        <a href="{{statics['developers']}}" class="flex items-center z-10 relative transition-all duration-200 group px-[22px] py-[15px] lg:px-[32px] lg:py-[22px] rounded-[50px] bg-white  dark:bg-slate-900 text-slate-800 dark:text-white hover:bg-gray-900 hover:text-white hover:-translate-y-[2px] w-fit hover:translate-y-[-3px]">
          <span class="block text-inherit w-full h-full rounded-[50px] text-lg font-semibold">了解更多</span>
          <img
            class="ml-2 w-3 filter-black group-hover:filter-white"
            src="{{ 'images/icons/icon-right.svg' | asset_url }}"
            alt="icon">
        </a>
      </button>
    </div>
  </div>
</div>
